<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holyshit</title>
</head>
<body>
    <div class="sections landing">
        <div class="section top lazy purple">
        <div class="spread lazy" data-background="https://static-assets.strikinglycdn.com/images/landing4/spread.jpg" style="background-image: url(&quot;https://static-assets.strikinglycdn.com/images/landing4/spread.jpg&quot;);"></div>
        <div class="hero">
        <div class="hero-parallax" style="top: 0px;">
        <div class="hero-space"></div>
        <div class="hero-space"></div>
        <img class="hero-img lazy" data-original="https://static-assets.strikinglycdn.com/images/landing4/screenshots/naked.jpg" style="height: 180px;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <img class="hero-img lazy odd" data-original="https://static-assets.strikinglycdn.com/images/landing4/screenshots/ribbon.jpg" style="height: 180px;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <br>
        <div class="hero-space"></div>
        <img class="hero-img lazy" data-original="https://static-assets.strikinglycdn.com/images/landing4/screenshots/fire-panda.jpg" style="height: 180px;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <img class="hero-img lazy odd" data-original="https://static-assets.strikinglycdn.com/images/landing4/screenshots/unibedroombox.jpg" style="height: 180px;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <br>
        <img class="hero-img lazy" data-original="https://static-assets.strikinglycdn.com/images/landing4/screenshots/martin-hamelin.jpg" style="height: 180px;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <img class="hero-img lazy odd" data-original="https://static-assets.strikinglycdn.com/images/landing4/screenshots/karenlo.jpg" style="height: 180px;" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </div>
        </div>
        <div class="container hero-parallax" style="top: 0px;">
        <div class="sixteen columns">
        <div class="logo">
        <a href="https://www.strikingly.com" style="outline: none">
        <img class="bg x2 lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/logo-white-600-small.png" alt="建站工具編輯器" style="height: auto; display: inline-block; max-height: 35px;" width="120" height="30" srcset="https://static-assets.strikinglycdn.com/images/landing2/logo-white-600-small.png 900w,https://static-assets.strikinglycdn.com/images/landing2/logo-white-600.png 1400w" src="https://static-assets.strikinglycdn.com/images/landing2/logo-white-600-small.png">
        </a>
        </div>
        <h1 class="title">
        幾分鐘製作一個網站
        </h1>
        <p class="tagline">
        建立你的品牌，征服世界
        <br class="fixed-hidden">
        <em>無需任何</em> 技術或設計經驗。
        </p>
        <div class="form-container">
        <form class="simple_form form new-user-form" id="new_user" action="/s/users" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><div class="row email-signup">
        <div class="col short">
        <div class="field first-name">
        <input autocomplete="off" placeholder="名字" type="text" name="user[profile_attributes][first_name]" id="user_profile_attributes_first_name">
        </div>
        </div>
        <div class="col">
        <div class="field">
        <input autocomplete="off" placeholder="電子信箱" type="text" name="user[email]" id="user_email">
        </div>
        </div>
        <div class="col" style="display:none;">
        <input autocomplete="off" type="password" name="user[password_dummy]" id="user_password_dummy">
        </div>
        <div class="col">
        <div class="field">
        <input autocomplete="off" placeholder="創建密碼" type="password" name="user[password]" id="user_password">
        </div>
        </div>
        <input type="hidden" name="user[mixpanel_id]" id="user_mixpanel_id" value="$device:187e4bc9eb8238-067fee67d876cd-26031a51-1fa400-187e4bc9eb8238">
        <div class="col short submit">
        <input type="submit" name="commit" value="馬上開始免費製作！" data-disable-with="正在註冊中……" class="submit btn sign-up-button">
        </div>
        </div>
        <div class="row terms-and-fb">
        <div class="col full error error-msg" style="display:none;">
        Uh-oh!
        <span class="error-msg-text"></span>
        <br>
        <br>
        </div>
        <div class="facebook-login-container">
        <div class="terms">
        請同意Strikingly的<a href="http://support.strikingly.com/hc/en-us/articles/214364828" target="_blank">服務條款</a>及<a href="http://support.strikingly.com/hc/en-us/articles/214364818" target="_blank">隱私政策</a>後再繼續。
        </div>
        <div class="facebook-login-wrapper">
        <span class="or">或</span>
        <a class="facebook-login tiny fb-blue btn" href="javascript:void(0);">使用臉書帳號註冊</a>
        </div>
        </div>
        <div class="linkedin-login-container" style="display:none;">
        <span class="or">或</span>
        <a class="linkedin-login tiny fb-blue btn" href="javascript:void(0);">Sign up with LinkedIn</a>
        <br>
        </div>
        <br>
        <br>
        </div>
        </form>
        
        </div>
        </div>
        </div>
        
        <div class="sep-dual sep-gray"></div>
        <div class="arrow"></div>
        </div>
        <div class="section gray no-border-top reduce-top-padding">
        <div class="container">
        <div class="sixteen columns center clearfix">
        <div class="title-group">
        <h2>已有上百萬的創意和公司通過 Strikingly 上線了</h2>
        <p class="light">網站制作從未如此簡單。</p>
        </div>
        </div>
        <div class="profile-row">
        <div class="nine columns">
        <div class="monitor-wrapper">
        <div class="phone">
        <div class="phone-inner">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/site-tribe-phone-small.jpg" alt="Tribewanted" srcset="https://static-assets.strikinglycdn.com/images/landing4/site-tribe-phone-small.jpg 900w,https://static-assets.strikinglycdn.com/images/landing4/site-tribe-phone.jpg 1400w" src="https://static-assets.strikinglycdn.com/images/landing4/site-tribe-phone-small.jpg" style="display: block;">
        </div>
        </div>
        <div class="monitor">
        <div class="monitor-inner">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/site-tribe-small.jpg" alt="Tribewanted" srcset="https://static-assets.strikinglycdn.com/images/landing4/site-tribe-small.jpg 900w,https://static-assets.strikinglycdn.com/images/landing4/site-tribe.jpg 1400w" src="https://static-assets.strikinglycdn.com/images/landing4/site-tribe-small.jpg" style="display: block;">
        </div>
        </div>
        </div>
        </div>
        <div class="seven columns profile-column">
        <div class="profile fixed-center">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/ben-keene.jpg" src="https://static-assets.strikinglycdn.com/images/landing2/ben-keene.jpg" style="display: inline-block; max-height: 100px; height: auto;">
        <div class="info">
        <h4>Ben Keene</h4>
        <p class="title">Tribewanted 創始人</p>
        </div>
        <p class="quote">「我們用 Strikingly 創建出遠遠超過之前所有版本的官網，還僅僅花了一個小時，而且價格還那麼低。我們已經創建了 15 个網站，停不下來。這算是我現在最喜爱的創業工具了。」</p>
        </div>
        </div>
        </div>
        <div class="profile-row right">
        <div class="nine columns">
        <div class="monitor-wrapper">
        <div class="phone">
        <div class="phone-inner">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/site-rpp-phone.jpg" alt="Red Paper Plane" src="https://static-assets.strikinglycdn.com/images/landing4/site-rpp-phone.jpg" style="display: block;">
        </div>
        </div>
        <div class="monitor">
        <div class="monitor-inner">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/site-rpp.jpg" alt="Red Paper Plane" src="https://static-assets.strikinglycdn.com/images/landing4/site-rpp.jpg" style="display: block;">
        </div>
        </div>
        </div>
        </div>
        <div class="seven columns profile-column">
        <div class="profile fixed-center">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/tsveti-kamova.jpg" src="https://static-assets.strikinglycdn.com/images/landing2/tsveti-kamova.jpg" style="display: inline-block; max-height: 100px; height: auto;">
        <div class="info">
        <h4>Tsveti Kamova</h4>
        <p class="title">Red Paper Plane 創始人</p>
        </div>
        <p class="quote">「我們一開始看中了 Strikingly 簡潔的設計感。我們的項目一直不斷發展，很高興看到這個平台在不斷地豐富功能來滿足我們的需求。」</p>
        </div>
        </div>
        </div>
        <div class="profile-row">
        <div class="nine columns">
        <div class="monitor-wrapper">
        <div class="phone">
        <div class="phone-inner">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/site-edd-phone.jpg" alt="Edd Baptista" src="https://static-assets.strikinglycdn.com/images/landing4/site-edd-phone.jpg" style="display: block;">
        </div>
        </div>
        <div class="monitor">
        <div class="monitor-inner">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/site-edd.jpg" alt="Edd Baptista" src="https://static-assets.strikinglycdn.com/images/landing4/site-edd.jpg" style="display: block;">
        </div>
        </div>
        </div>
        </div>
        <div class="seven columns profile-column">
        <div class="profile fixed-center">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/edd-baptista.jpg" src="https://static-assets.strikinglycdn.com/images/landing4/edd-baptista.jpg" style="display: inline-block; max-height: 100px; height: auto;">
        <div class="info">
        <h4>Edd Baptista</h4>
        <p class="title">畫家，插畫師</p>
        </div>
        <p class="quote">「“有調性”是個很難解釋的東西，就是種感覺。一見到就知道的。」</p>
        </div>
        </div>
        </div>
        <div class="sixteen columns view-more center">
        <a class="light-button" href="/s/discover">看看更多用戶實例</a>
        </div>
        </div>
        </div>
        <div class="section press thin">
        <div class="container">
        <div class="sixteen columns center">
        <p class="light">媒體報導</p>
        <br>
        <div class="press-logos">
        <a href="http://www.nytimes.com/2013/05/05/magazine/y-combinator-silicon-valleys-start-up-machine.html?pagewanted=all&amp;_r=0" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/nyt.png" style="height: auto; display: inline; max-height: 42px;" alt="Y Combinator, Silicon Valley's Startup Machine" src="https://static-assets.strikinglycdn.com/images/landing2/nyt.png">
        &nbsp;
        </a>
        <a href="http://www.forbes.com/sites/morganhartley/2013/03/19/how-a-y-combinator-startup-is-born-the-story-of-strikingly/" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/forbes.png" style="height: auto; display: inline; max-height: 42px;" alt="How a Y Combinator Startup Is Born - The Story of Strikingly" src="https://static-assets.strikinglycdn.com/images/landing2/forbes.png">
        &nbsp;
        </a>
        <a href="http://www.techcrunch.com/2013/02/13/strikingly/" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/tc.png" style="height: auto; display: inline; max-height: 42px;" alt="Y Combinator-Backed Strikingly Launches To Help Publishers Build Compelling Mobile-First Web Experiences" src="https://static-assets.strikinglycdn.com/images/landing2/tc.png">
        &nbsp;
        </a>
        <a href="http://www.lifehacker.com/5989963/strikingly-creates-simple-beautiful-web-sites-in-minutes" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/lifehacker.png" style="height: auto; display: inline; max-height: 42px;" alt="Strikingly Creates Simple, Beautiful Web Sites in Minutes" src="https://static-assets.strikinglycdn.com/images/landing2/lifehacker.png">
        &nbsp;
        </a>
        <a href="http://thenextweb.com/insider/2013/04/26/yc-alum-strikingly-nabs-1-5m-from-sv-angel-index-ventures-fundersclub-others-for-its-diy-website-creator-service/" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/tnw.png" style="height: auto; display: inline; max-height: 42px;" alt="Strikingly raises $1.5M from SV Angel, Index Ventures, FundersClub, others for its DIY site builder" src="https://static-assets.strikinglycdn.com/images/landing2/tnw.png">
        &nbsp;
        </a>
        <!-- this link is broken so comment it out -->
        <!-- %a(href="http://bluesky.chicagotribune.com/originals/chi-strikingly-david-chen-bsi-20131127,0,0.story" target="_blank" style="outline:none") -->
        <!-- =image_tag 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', :class => 'lazy', "data-original" => asset_path('images/landing2/tribune.png'), :style=>'height:42px;', :alt => "Strikingly builds mobile sites in 10 minutes and is trying to get faster" -->
        <!-- &nbsp; -->
        <a href="http://www.usatoday.com/story/tech/2013/09/29/personal-website-free-strikingly-photos/2875731/" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/usa-today.png" style="height: auto; display: inline; max-height: 42px;" alt="TECH NOW: What to put on your personal website" src="https://static-assets.strikinglycdn.com/images/landing2/usa-today.png">
        &nbsp;
        </a>
        <a href="http://www.inc.com/issie-lapowsky/4-ways-screwing-up-website.html?cid=sf01001" style="outline:none" target="_blank">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/inc.png" style="height: auto; display: inline; max-height: 42px;" alt="4 Mistakes You're Probably Making on Your Website" src="https://static-assets.strikinglycdn.com/images/landing2/inc.png">
        &nbsp;
        </a>
        </div>
        </div>
        </div>
        </div>
        <div class="section gray editor">
        <div class="inner">
        <div class="container">
        <div class="profile-row">
        <div class="ten columns center">
        <div class="imac-wrapper">
        <div class="imac">
        <div class="imac-inner">
        <video autoplay="autoplay" class="lazy" data-poster="https://static-assets.strikinglycdn.com/images/landing4/editor.jpg" loop="loop" muted="muted" preload="none">
        <source src="//uploads.strikinglycdn.com/static/landing/editor.webm" type="video/webm">
        <source src="//uploads.strikinglycdn.com/static/landing/editor.mp4" type="video/mp4">
        </video>
        <div class="imac-stand"></div>
        </div>
        </div>
        </div>
        </div>
        <div class="six columns left-align profile-column fixed-center">
        <div class="profile">
        <h2>簡單易用的網站編輯器</h2>
        <p class="big">
        點擊任何部件來編輯，完成後瞬間上線
        無須任何技術或設計背景
        <br class="fixed-hidden">
        <br class="fixed-hidden">
        我們講究簡單，效率。
        在30分鐘內創建一個美觀的網站
        <br>
        <br>
        </p>
        </div>
        </div>
        </div>
        <div class="profile-row right">
        <div class="eight columns center right offset-one">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing4/store-promo.jpg" alt="E-commerce is built into Strikingly" style="max-height: 257px; display: inline; height: auto;" src="https://static-assets.strikinglycdn.com/images/landing4/store-promo.jpg">
        <br>
        <br>
        </div>
        <div class="five columns right profile-column fixed-center">
        <h2>內置電子商務功能</h2>
        <p class="big">
        只需要添加商城版塊，綁定 PayPal 或 Stripe ，即可開始線上交易，就是如此簡單。
        <br class="fixed-hidden">
        <br class="fixed-hidden">
        Strikingly 為線上行銷而生，設置運費，優惠券，會員登錄等功能一應俱全，輕鬆售賣海量商品，從未如此簡單。
        </p>
        </div>
        </div>
        <div class="profile-row">
        <div class="ten columns center">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/audience-landing.png" alt="如何讓你的網站在所有設備上完美呈現" style="height: auto; display: inline; max-height: 264px;" src="https://static-assets.strikinglycdn.com/images/landing2/audience-landing.png">
        <br>
        <br>
        </div>
        <div class="four columns profile-column fixed-center">
        <h2>轉化訪客為忠實粉絲</h2>
        <p class="big">
        精細化運營你的客戶， <span class="b">訪客註冊, 留言表單, 即時聊天</span>, 以及<span class="b">營銷郵件</span> 一應俱全。還能使用 <span class="b">註冊會員功能</span> 培養更多忠實粉絲!
        <br class="fixed-hidden">
        <br class="fixed-hidden">
        不僅僅只是一個靜態頁面 — Strikingly 為你的網站注入活力！
        </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="section features">
        <div class="container">
        <div class="clearfix">
        <div class="sixteen columns center">
        <h2>你想要的功能，都在這裡</h2>
        </div>
        </div>
        <div class="features-list clearfix">
        <div class="third columns">
        <div class="description">
        <div class="icon">
        <div class="domain-icon">www</div>
        </div>
        <h3>網域</h3>
        <p>您可註冊一個新網域或自訂網域。（升級後才適用）</p>
        </div>
        </div>
        <div class="third columns">
        <div class="description">
        <div class="icon teal">
        <div class="entypo-basket"></div>
        </div>
        <h3>線上商城</h3>
        <p>優惠券、物流、數位化產品等電商功能已全部囊括。</p>
        </div>
        </div>
        <div class="third columns">
        <div class="description">
        <div class="icon purple">
        <div class="entypo-feather des-icon"></div>
        </div>
        <h3>簡易部落格</h3>
        <p>簡約設計，方便管理，讓妳的訪客第壹時間了解網站動態資訊，每篇博文都擁有獨立頁面。</p>
        </div>
        </div>
        </div>
        <div class="features-list clearfix">
        <div class="third columns">
        <div class="description">
        <div class="icon">
        <div class="entypo-chart-line"></div>
        </div>
        <h3>數據分析</h3>
        <p>所有網站內設有瀏覽量數據監測。簡易圖表助你時刻掌握流量動向。</p>
        </div>
        </div>
        <div class="third columns">
        <div class="description">
        <div class="icon pink">
        <div class="entypo-clipboard"></div>
        </div>
        <h3>註冊與聯繫表單</h3>
        <p>新增註冊表單或聯繫表格版塊，即可收集訪客的反饋。</p>
        </div>
        </div>
        <div class="third columns">
        <div class="description">
        <div class="icon yellow">
        <div class="entypo-chat des-icon"></div>
        </div>
        <h3>社交訂閱</h3>
        <p>Facebook、Twitter與Instagram所有更新內容一應俱現。</p>
        </div>
        </div>
        </div>
        <div class="features-list clearfix center">
        <div class="third columns no-float ib">
        <div class="description left-align">
        <div class="icon green">
        <div class="entypo-lock"></div>
        </div>
        <h3>內置 HTTPS</h3>
        <p>所有網站都會免費自動獲得 HTTPS！ 增强安全性，提高搜索引擎最佳化，並獲得訪客的信任。</p>
        </div>
        </div>
        <div class="third columns no-float ib">
        <div class="description left-align">
        <div class="icon blue">
        <div class="entypo-tools"></div>
        </div>
        <h3>更多功能，一應俱全</h3>
        <p>強大且具有設計感的可視化編輯器，讓一切操作變得簡單直觀。自由調用相冊、視頻背景，多媒體幻燈、自定義顏色、密碼保護等多種功能，滿足各類場景需求。</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="section support lazy" data-background="https://static-assets.strikinglycdn.com/images/landing4/lucky3.jpg" style="background-image: url(&quot;https://static-assets.strikinglycdn.com/images/landing4/lucky3.jpg&quot;);">
        <div class="inner">
        <div class="container center">
        <div class="eight columns offset-eight left-align fixed-center">
        <div class="support-title">
        <h2>
        <i class="entypo-chat" style="margin-right: 5px;"></i>
        24小時服務
        </h2>
        <p>通過電郵或在線服務隨時聯繫我們。我們的客服團隊將致力於幫助你成功。</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="section testimonials no-border-bottom gray load-twitter" id="testimonials-section">
        <div class="disable-slider"></div>
        <div class="inner">
        <div class="container center">
        <div class="ten columns offset-three">
        <h2>Strikingly 的忠實粉絲們</h2>
        <p class="light">我們對幫助你成功才是最熱情的。聽聽我們的用戶 － Strikingly能給你帶來什麼樣的價值。</p>
        <br class="fixed-hidden">
        </div>
        </div>
        <div class="container center testimonials">
        <div class="ten columns offset-three">
        <div class="testimonial">
        <div class="info">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/seth-godin.jpg" src="https://static-assets.strikinglycdn.com/images/landing2/seth-godin.jpg" style="display: block; max-height: 90px; height: auto;">
        <strong>Seth Godin</strong>
        <br>
        暢銷書作家
        </div>
        <div class="quote">
        <div class="quote-box arrow">
        <p>
        我開始用這個工具，然後發現它是個簡單易用的建站工具。<strong>我很難想象一個網站能够比在Strikingly上做得出的美麗十倍。</strong>
        </p>
        </div>
        </div>
        </div>
        <div class="testimonial">
        <div class="info">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/rebecca-bloom.jpg" src="https://static-assets.strikinglycdn.com/images/landing2/rebecca-bloom.jpg" style="display: block; max-height: 90px; height: auto;">
        <strong>Rebecca Bloom</strong>
        <br>
        編輯與寫作導師
        </div>
        <div class="quote">
        <div class="quote-box arrow">
        <p>
        我們是一家小企業，好久前已經不用Godaddy了，那當時真的又貴又不好用。我時間有限，最不愿花時間在各種網站的問題上 — 我想要提高收入。 <strong>Strikingly實在是實用，易用！</strong>
        </p>
        <p>我已經分享给好多朋友了。</p>
        </div>
        </div>
        </div>
        <div class="testimonial">
        <div class="info">
        <img class="lazy lazyloaded" data-original="https://static-assets.strikinglycdn.com/images/landing2/mike-pacifico.jpg" src="https://static-assets.strikinglycdn.com/images/landing2/mike-pacifico.jpg" style="display: block; max-height: 90px; height: auto;">
        <strong>Mike Pacifico</strong>
        <br>
        顧問
        </div>
        <div class="quote">
        <div class="quote-box arrow">
        <p>
        Strikingly 的網站、軟件、移動 APP 真的令人太滿意。我當時考慮了幾個不同的工具，幸好選擇了 Strikingly！
        </p>
        <p>
        <strong>很棒的用戶體驗！Strikingly 達到了簡易與個性化的完美結合。謝謝你們，繼續加油！</strong>
        </p>
        </div>
        </div>
        </div>
        <div class="testimonial">
        <div class="info">
        <img class="lazy" data-original="https://static-assets.strikinglycdn.com/images/landing2/zia-kusuma.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <strong>Zia Kusuma</strong>
        <br>
        公關經理與教授
        </div>
        <div class="quote">
        <div class="quote-box arrow">
        <p>
        我愛 Strikingly！以前在 Tumblr，Wordpress 之類的工具上選擇模板一直都很複雜煩惱。<strong>但 Strikingly 讓我再也没有那種困難了!</strong>
        </p>
        </div>
        </div>
        </div>
        <div class="testimonial">
        <div class="info">
        <img class="lazy" data-original="https://static-assets.strikinglycdn.com/images/landing2/david-smooke.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <strong>David Smooke</strong>
        <br>
        Artmap創始人
        </div>
        <div class="quote">
        <div class="quote-box arrow">
        <p>
        我們最初接觸到Strikingly的時候，就對一切的設計元素感覺非常美妙。Strikingly真正讓你很容易地選擇美觀的模板，然後把你自己的風格和獨特性拌進去。<strong>易用，美麗，與眾不同。</strong>
        </p>
        </div>
        </div>
        </div>
        <a class="light-button view-twitter-feed" href="javascript:void(0);">
        看看其它粉絲的話
        </a>
        <div class="twitter-feed quote-box hidden">
        <a class="twitter-timeline" data-height="750" data-link-color="#981CEB" data-theme="light" href="https://twitter.com/strikingly/timelines/752391570536542208">Talk of the Town - Curated tweets by Strikingly</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="section footer purple load-twitter load-facebook">
        <div class="spread lazy" data-background="https://static-assets.strikinglycdn.com/images/landing4/spread.jpg"></div>
        <div class="container center footer-wrapper">
        <div class="sixteen columns">
        <div class="logo">
        <img class="bg x2 lazy" data-original="https://static-assets.strikinglycdn.com/images/landing2/logo-white-600-small.png" alt="建站工具編輯器" style="height:35px;" width="120" height="30" srcset="https://static-assets.strikinglycdn.com/images/landing2/logo-white-600-small.png 900w,https://static-assets.strikinglycdn.com/images/landing2/logo-white-600.png 1400w" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </div>
        <p class="tagline">
        我們幫助創業者和創意人實現夢想
        </p>
        <div class="form-container">
        <form class="simple_form form new-user-form" id="new_user" action="/s/users" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><div class="row email-signup">
        <div class="col short">
        <div class="field first-name">
        <input autocomplete="off" placeholder="名字" type="text" name="user[profile_attributes][first_name]" id="user_profile_attributes_first_name">
        </div>
        </div>
        <div class="col">
        <div class="field">
        <input autocomplete="off" placeholder="電子信箱" type="text" name="user[email]" id="user_email">
        </div>
        </div>
        <div class="col" style="display:none;">
        <input autocomplete="off" type="password" name="user[password_dummy]" id="user_password_dummy">
        </div>
        <div class="col">
        <div class="field">
        <input autocomplete="off" placeholder="創建密碼" type="password" name="user[password]" id="user_password">
        </div>
        </div>
        <input type="hidden" name="user[mixpanel_id]" id="user_mixpanel_id">
        <div class="col short submit">
        <input type="submit" name="commit" value="馬上開始免費製作！" data-disable-with="正在註冊中……" class="submit btn sign-up-button">
        </div>
        </div>
        <div class="row terms-and-fb">
        <div class="col full error error-msg" style="display:none;">
        Uh-oh!
        <span class="error-msg-text"></span>
        <br>
        <br>
        </div>
        <div class="facebook-login-container">
        <div class="terms">
        請同意Strikingly的<a href="http://support.strikingly.com/hc/en-us/articles/214364828" target="_blank">服務條款</a>及<a href="http://support.strikingly.com/hc/en-us/articles/214364818" target="_blank">隱私政策</a>後再繼續。
        </div>
        <div class="facebook-login-wrapper">
        <span class="or">或</span>
        <a class="facebook-login tiny fb-blue btn" href="javascript:void(0);">使用臉書帳號註冊</a>
        </div>
        </div>
        <div class="linkedin-login-container" style="display:none;">
        <span class="or">或</span>
        <a class="linkedin-login tiny fb-blue btn" href="javascript:void(0);">Sign up with LinkedIn</a>
        <br>
        </div>
        <br>
        <br>
        </div>
        </form>
        
        </div>
        </div>
        </div>
        <div class="s-dash s-dash-landing">
        <div class="container s-dash-footer">
        <div class="sixteen columns">
        <div class="hr"></div>
        <div class="footer-column alpha">
        <h6>Strikingly</h6>
        <a class="s-link" data-link-name="My Sites" href="/s#">
        我的網站
        </a>
        <br>
        <a class="s-link" data-link-name="Discover Sites" href="/s/discover#">
        模板
        </a>
        <br>
        <a class="s-link" data-link-name="Pricing" href="/s/pricing#">
        升級套餐
        </a>
        <br>
        </div>
        <div class="footer-column">
        <h6>附加工具</h6>
        <a class="s-link" data-link-name="Mobile Apps" href="http://www.strikingly.com/mobile" rel="tooltip" title="繁忙之中管理您的網站">
        手機APP
        </a>
        <br>
        <a class="s-link" href="https://apps.apple.com/us/app/strikingly/id892299884" title="Manage and edit your Strikingly site on your iPhone, iPad and iOS devices.">
        iOS 應用程式
        </a>
        <br>
        <a class="s-link" href="https://play.google.com/store/apps/details?id=com.strikingly.android.tabby" title="Manage and edit your Strikingly site on your Android devices.">
        Android 應用
        </a>
        </div>
        <div class="footer-column">
        <h6>社區</h6>
        <a class="s-link" data-link-name="Strikingly Blog" href="/blog/">
        Strikingly 部落格
        </a>
        <br>
        <a class="s-link" data-link-name="Idea Forum" href="/s/support/http://support.strikingly.com/hc/en-us/community/posts%3Fsort_by=votes" target="_blank">
        論壇
        </a>
        <br>
        <a class="s-link" data-link-name="Talk of the Town" href="https://twitter.com/strikingly/timelines/752391570536542208" target="_blank">
        話題
        </a>
        <br>
        <a class="s-link" href="https://twitter.com/strikingly" target="_blank">
        Twitter
        </a>
        <br>
        <a class="s-link" href="https://www.facebook.com/strikingly/" target="_blank">
        Facebook
        </a>
        <br>
        <a class="s-link" href="https://www.youtube.com/channel/UC4I-TRQbiWfEdDvldAXg5ew" target="_blank">
        YouTube
        </a>
        <br>
        <a class="s-link" href="https://www.linkedin.com/company/striking-ly/about/" target="_blank">
        LinkedIn
        </a>
        <br>
        <a class="s-link" href="https://www.strikingly.com/sitemap-topics" target="_blank">
        網站地圖
        </a>
        <br>
        </div>
        <div class="footer-column omega">
        <h6>公司</h6>
        <a class="s-link highlight" data-link-name="Careers" href="/s/careers">
        加入我們
        </a>
        <br>
        <a class="s-link" data-link-name="Manifesto" href="/manifesto?source=dash_footer">
        我們的宣言
        </a>
        <br>
        <a class="s-link" data-link-name="Terms" href="http://support.strikingly.com/hc/en-us/articles/214364828" target="_blank">
        服務條款
        </a>
        &amp;
        <a class="s-link" data-link-name="Privacy" href="http://support.strikingly.com/hc/en-us/articles/214364818" target="_blank">
        隱私政策
        </a>
        </div>
        <div class="footer-column">
        <h6>客戶服務及技術支援</h6>
        <a class="s-link" data-link-name="Support" href="/s/support" target="_blank">
        知識庫
        </a>
        <br>
        <a class="s-link open-support-popup" data-link-name="Terms" href="javascript:void(0);">
        聯繫我們
        </a>
        <br>
        <a class="s-link in-english" data-link-name="English" href="/?locale=en">
        Strikingly.com in English
        </a>
        </div>
        <div class="one column alpha omega right">
        <div class="footer-social-media">
        <div class="fb-like" data-href="https://www.facebook.com/strikingly" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"></div>
        <a class="tweet twitter-share-button" data-count="horizontal" data-counturl="https://www.strikingly.com" data-text="Gorgeous mobile-optimized websites in minutes." data-url="https://www.strikingly.com?ref=tw" data-via="Strikingly" href="http://twitter.com/share"></a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="gray hidden lazy section" data-background="https://static-assets.strikinglycdn.com/images/landing2/gray-bg.png" id="hidden-sections">
        <div class="container center">
        <div class="clearfix">
        <div class="twelve columns offset-two">
        <h3>關於 Strikingly</h3>
        <br>
        <p>Strikingly 能為所有人呈現美觀的移動端網站。</p>
        <br>
        <p>What's so special about a Strikingly site? Simplicity, clarity, and accessibility. Owning a professional, mobile-optimized website is more important than ever. Don't lose your visitors under the weight of a heavy, confusing website. The same goes for editing: don't stress out about micromanaging your site, and don't waste time wondering where to change something. Edit it all on one screen, and get it done fast.</p>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="clearfix">
        <div class="four columns offset-two">
        <h4>客戶服務</h4>
        <p>有關使用 Strikingly 的問題，請來信：support@strikingly.com。</p>
        </div>
        <div class="four columns">
        <h4>媒體報導</h4>
        <p>任何媒體查詢，請來信：press@strikingly.com。</p>
        </div>
        <div class="four columns">
        <h4>社交媒體</h4>
        <p>
        您也可以在<a href="http://facebook.com/strikingly" target="_blank">臉書</a>或<a href="http://twitter.com/Strikingly" target="_blank">推特</a>上與我們聯絡喔！
        </p>
        </div>
        </div>
        </div>
        <div class="clearfix"></div>
        </div>
        </div>
</body>
</html>